body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff3e0;
  padding: 20px;
}

.images img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

.product {
  border: 1px solid #ccc;
  margin: 15px auto;
  padding: 15px;
  width: 250px;
  background: white;
  border-radius: 10px;
}

button {
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e68900;
}

input {
  padding: 10px;
  width: 250px;
  margin: 20px;
}
